{
  extends: ["airbnb", "prettier"],
  plugins: ["prettier", "mocha"],
  parser: "babel-eslint",
  rules: {
    "prettier/prettier": "error",
    "import/prefer-default-export": "off",
    "import/named": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "react/jsx-filename-extension": "off",
    "mocha/no-exclusive-tests": "error",
  },
  env: {
    node: true,
    mocha: true,
  }
}
